*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background: rgb(255, 255, 255);
}

/* shared style */

.btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    width: 168px;
    height: 52px;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 6px;
    gap: 10px;
    cursor: pointer;
}

.btn span{
    color: rgb(255, 255, 255);
    width: 78px;
    height: 19px;
    font-size: 16px;
    font-weight: 500px;
}

.btn i{
    color: rgb(255, 255, 255);;
    width: 16px;
    height: 14px;
}

.common-section-title{
    font-weight: 600px;
    font-size: 36px;
}

/* navbar section styles */

.navbar{
    /* position: absolute; */
    /* left: 157px;
    right: 158.06px;
    top: 49px; */
    margin: 0px auto;
    margin-top: 40px;
    width: 1124.94px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 46px;
}

.navbar img{
    color: rgb(31, 31, 31);
    font-weight: bold;
    font-size: 34px;
    width: 120.09px;
    height: 40.81px;
    align-items: center;
    text-align: left;
    line-height: 40px;
    margin-top: 15px;
}

.input-style{
    position: relative;
    display: flex;
    width: 508px;
    height: 58px;
    margin: 0px 35px;
    padding: 12px;
}

.input-style input{
    background: rgb(241, 241, 241);
    width: 500px;
    height: 48px;
    display: flex;
    border: none;
    border-radius: 66px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 30px;
}

.input-style i{
    /* background: rgb(186, 186, 186); */
    color: rgb(186, 186, 186);
    position: absolute;
    top: 28px;
    right: 25px;
    width: 21px;
    height: 20px;
    
}

.nav-list{
    width: 345px;
    height: 24px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    /* margin: 0px 56px; */
}

.nav-list li, a{
    list-style: none;
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
}

/* banner section styles */


.banner-container{
    background: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    width: 1212px;
    height: 400px;
    margin: 0px auto;
    margin-top: 63px;
    border-radius: 10px;
    align-items: center;
}

.banner-content-text{
    width: 554px;
    height: 319px;
    margin-left: 46px;
    /* margin-right: 612px; */
    margin-top: 68px;
    margin-bottom: 68px;
    text-align: left;
}

.banner-content-text h1{
    color: rgb(31, 31, 31);
    width: 5200px;
    height: 84px;
    font-weight: bold;
    font-size: 56px;
}

.banner-content-text p{
    color: rgb(78, 78, 78);
    width: 456px;
    height: 97px;
}

.banner-content-text h2{
    color: rgb(255, 19, 111);
    font-weight: 500px;
    font-size: 41px;
}

.banner-content-image{
    width: 402px;
    height: 378px;
    margin-top: 38px;
    margin-right: 68px;
    margin-bottom: 39px;
}

.banner-content-image img{
    width: 402px;
    height: 378px;
}

/* categories section styles */

.categories{
    width: 1128px;
    height: 198px;
    margin: 0px auto;
    margin-top: 65px;
    margin-bottom: 98px;
}

.categories-card-container{
    display: flex;
    gap: 26px;
}

.categories h2{
    color: #1F1F1F;
    width: 202px;
    height: 54px;
    font-weight: 600px;
    font-size: 36px;
    margin-bottom: 24px;
}

/* card-1 */

.categories-card-1{
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    display: flex;
    width: 359px;
    height: 120px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.categories-card-1 h3{
    color: rgb(255, 255, 255);
    width: 120px;
    height: 54px;
    text-align: center;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 46px;
    font-size: 36px;
    font-weight: 500px;
}

.categories-card-1 img{
    width: 85.21px;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 48.79px;
}

/* card-2 */

.categories-card-2{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    display: flex;
    width: 359px;
    height: 120px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.categories-card-2 h3{
    color: rgb(255, 255, 255);
    width: 120px;
    height: 54px;
    text-align: center;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 46px;
    font-size: 36px;
    font-weight: 500px;
}

.categories-card-2 img{
    width: 85.21px;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 48.79px;
}

/* card-3 */

.categories-card-3{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
    display: flex;
    width: 359px;
    height: 120px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.categories-card-3 h3{
    color: rgb(255, 255, 255);
    width: 120px;
    height: 54px;
    text-align: center;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 46px;
    font-size: 36px;
    font-weight: 500px;
}

.categories-card-3 img{
    width: 85.21px;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 48.79px;
}

/* shoes and backpack section styles */


.shoes-backpack-parent{
    background: rgb(244, 244, 244);
}

.shoes-backpack-section-title-parent{
    width: 1128px;
    margin: 0px auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.shoes-backpack-section-title-parent h2{
    font-weight: bold;
    font-size: 36px;
    color: #1F1F1F;
}



.shoes-backpack-section-title-parent p{
    color: #FF9D00;
    font-size: 20px;
    font-weight: 500;
}


.shoes-section{
    padding: 50px 0px;
}


.shoe-card-container{
    display: flex;
    /* justify-content: space-around; */
    gap: 25px;
    width: 1128px;
    margin: 0px auto;
}


.shoe-card{
    /* width: 336px;
    height: 202px; */
    background-color: white;
    border-radius: 12px;
    text-align: center;
    padding: 25px;
    width: 360px;
}

.shoe-card h2{
    margin-bottom: 16px;
    margin-top: 22px;
}

.shoe-card p{
    margin-bottom: 16px;
}

.card-price{
    display: block;
    font-weight: 600px;
    font-size: 22px;
    margin-bottom: 12px;
}

.shoe-card img{
    width: 336px;
    height: 202px;
}

.shoe-card .btn{
    background: #000000;
}


/* contact us section styles */


.contact-us-container{
    background-color: #FFF2F1;
    width: 1212px;
    height: 455px;
    margin: 0px auto;
    margin-top: 71px;
    margin-bottom: 75px;
    padding: 146px 265px;
    border: none;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    /* display: inline-block; */
    justify-content: center;
}

.contact-us-container h2{
    color: #1F1F1F;
    /* width: 306px; */
    height: 45px;
    font-weight: 500px;
    font-size: 30px;
    margin-bottom: 4px;
}

.contact-us-container p{
    color: #707070;
    /* width: 325px; */
    height: 24px;
    font-weight: 500px;
    font-size: 16px;
    margin-bottom: 16px;
}

.contact-us-input{
    display: flex;
    justify-content: center;
}

.contact-us-input input{
    width: 485px;
    height: 60px;
    font-size: 16px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px 30px;
}

.contact-us-input button{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) 0.004%,rgb(255, 19, 111) 100.004%);
    width: 157px;
    height: 60px;
    font-weight: 500px;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}